需要给我提供下面几个函数，具体自己改动，好了我来照着你的要求格式弄就行了。

1、初始化地图函数，调用此函数后，你可以分配空间设置全局变量进行下一步的操作
	参数1：地图宽度
	参数2：地图高度

2、设置视野内的地图数据，供你分析地图用
	参数1：当前坐标X
	参数2：当前坐标Y
	参数3：X数组：数据的横坐标  Y数组：数据的纵坐标  V数组：数据的值(详细如下)
		地图数据：	int8
		迷雾(无视野)：	-1
		通路:	  	0
		障碍：	    	1
		终点(宝藏)：	2
	参数4：数据条目数 (2*范围)^2 比如视野范围是2，那条目数
	返回：	方向：direction in [
                	(-1,  1), ( 0,  1), ( 1,  1),
                	(-1,  0),           ( 1,  0),
                	(-1, -1), ( 0, -1), ( 1, -1)
			]
			我直接返回一个上面这个东西之一
		出错：返回(0, 0)
		返回一个长度为2的数组：i, j,等价于上面的方向
	